<div class="superContenedor">
  <div *ngIf="splash" class="splash" [@animationFadeOut]="splash">
    <img [src]="const.santanderBlanco" alt="">
  </div>
  <div [ngClass]="{'contenedor carro': tipo =='carro', 'contenedor moto': tipo =='moto'}">
    <app-encabezado></app-encabezado>
    <div *ngIf="tipo === ''; else elseDiv">
      <div class="Botones">
        <button (click)="selectTipo('carro')" class="boton1">Carro</button>
        <button (click)="selectTipo('moto')">Moto</button>
      </div>
    </div>
    <ng-template #elseDiv>
      <app-componentepasos [tipoSelected]="tipo"></app-componentepasos>
    </ng-template>
    <app-pie></app-pie>
  </div>
</div>
